@import "menu.css";
@import "logo.css";
@import "search.css";

/* header */

.header {
  background-color: #ffffff;
}

/* header__top */

.header__top {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px 70px;
}

/* header__menu */

.header__menu  {
  margin-right: 5px;
}

/* header__logo */

.header__logo.logo {
  z-index: 5;
  flex-shrink: 0;
}

/* search */
.header__search {
  z-index: 5;
}

/* header__buttons */

.header__buttons {
  display: flex;
  align-items: center;
  column-gap: 30px;
  flex-shrink: 0;
  z-index: 5;
}

.header__buttons_mobile {
  display: none;
}

.header__buttons img {
  display: block;
}

.header__buttons_cart {
  position: relative;
}

.header__buttons_cart::before {
  content: '3';
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  background-color: #1dbcd2;
  position: absolute;
  top: -10px;
  right: -5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header__bottom */

.header__bottom {
  padding: 29px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
}

.header__contacts {
  font-size: 18px;
  color: #2b2e34;
}

.header__contacts::before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  background-repeat: no-repeat;
}

.header__contacts_location::before {
  background-image: url('../../img/header/icons/location.svg');
  margin-right: 15px;
  width: 17px;
  height: 24px;
}

.header__contacts_phone::before {
  background-image: url('../../img/header/icons/phone.svg');
  margin-right: 16px;
  width: 22px;
  height: 23px;
}

.header__contacts_mail::before {
  background-image: url('../../img/header/icons/mail.svg');
  margin-right: 12px;
  width: 27px;
  height: 25px;
}

.header__contacts_request::before {
  background-image: url('../../img/header/icons/request.svg');
  margin-right: 13px;
  width: 24px;
  height: 24px;
}

.header__contacts_contacts::before {
  background-image: url('../../img/header/icons/contacts.svg');
  margin-right: 14px;
  width: 22px;
  height: 23px;
}

/* media 415px */

@media (max-width: 415px) {
  .header__top {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
    padding-top: 13px;
    padding-bottom: 0;
  }

  .header__menu {
    margin-right: 5px;
  }

  .header__logo.logo {
    margin-right: 5px;
    width: 186px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  .header__logo .logo__img {
    height: 37px;
    flex-shrink: 1;
  }

  .header__logo .logo__title {
    width: 154px;
    flex-shrink: 1;
    align-self: center;
  }

  .header__logo .logo__subtitle {
    display: none;
  }

  .header__buttons {
    gap: 22px;
  }

  .header__buttons_pc {
    display: none;
  }

  .header__buttons_mobile {
    display: flex;
  }

  .header__buttons_cart::before {
    content: '';
    width: 0;
    height: 0;
  }

  .header__search {
    order: 1;
    flex-grow: 1;
    margin-top: 14px;
    z-index: 1;
  }

  .header__bottom {
    display: none;
  }
}
