/* search */

.search {
  flex-basis: 851px;
  flex-shrink: 1;
}

.search label {
  background-color: #f6f6f6;
  padding: 18px 30px;
  width: 100%;
  display: flex;
}

.search label::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 18px;
  margin-right: 15px;
  background-image: url('../../img/header/icons/search.svg');
  background-repeat: no-repeat;
}

.search__input {
  font-size: 15px;
  line-height: 19px;
  color: #73737b;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.search__input::-ms-clear {
  display: none;
}

.search__input::-webkit-search-cancel-button {
  display: none;
}
