@import "__sort.css";
@import "__card.css";

.main__selection {
  width: 1132px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.main__cards {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

@media (max-width: 415px) {
  .main__selection {
    width: auto;
  }

  .main__cards {
    justify-content: space-between;
    gap: 15px;
  }
}
